# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Python junk
__pycache__/
*.pyc
*.pyo
*.pyd
nc_lightsource_asyncua_server.py
.DS_Store
hal/test_smc_emulation
l2trig_emulator_state.dat
hal/l2trig_direct_client
l2tcp_server/l2tcp_server
docs/CTDB2_user_manual_v2.pdf
docs/MST-CAM-UM-0227-DESY_L2CB_user_manual_v12.pdf
